<nav class="" id="nav-fixed">
  <div class="logo">
    <a class="navbar-brand color-white" href="/"><img src="/assets/img/agenda-logo.png" alt=""></a>
  </div>
  <div class="justify-end menu-container">
    <button id="button">
      <img width="32px" src="/assets/img/hamburger-menu-svgrepo-com.svg" alt="">
    </button>

    <div class="menu" id="navbarSupportedContent">
      <ul>
        <% if (!user) { %>
          <li class="nav-item">
            <a class="nav-link color-white" href="/logon/signIn">Entrar</a>
          </li>
          <li class="nav-item">
            <a class="add-contact nav-link color-white" href="/logon/signUp">Registrar-se</a>
          </li>
          <% } %>

            <% if (user) {%>
              <li class="nav-item">
                <a class="nav-link color-white add-contact" href="/contact/index">Adicionar Contato</a>
              </li>

              <li class="nav-item">
                <a class="nav-link color-white" href="/logon/logOut">Logout</a>
              </li>
              <%} %>
      </ul>
    </div>
  </div>
</nav>